body {
  background-color: #05032a;
}

.cardWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div.ant-card-bordered {
  border: 30px solid #cab75f;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background-color: #fbe37a;
  border: #cab75f solid 15px;
}
div.ant-card-head-title {
  font-size: 24px;
  font-weight: 700;
}

div.ant-card-meta-title {
  font-weight: 700;
}

ul.ant-card-actions {
  background-color: #fbe37a;
}

div.Pokemon_Overview > h1,
div.Pokemon_Overview > h5,
div.pokemonInfo > h4 {
  color: #fff;
}
