
.App {
  text-align: center;
  background-color: rgb(5, 3, 42);
  color: white;
}
/*NAVIGATION*/

Nav {
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-links {
  margin: 0 auto;
}

Nav img {
  height: 70px;
  padding: 25px;

}


.navLink {
  color: white;
  text-decoration: none;
  padding: 0.5rem;
  margin: 0.25rem;
  color: white;
  font-size: 1.2rem;
}

.Login {
  padding-right: 25px;
}


/*OVERVIEW*/

.Pokemon_Overview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.Pokemon_Overview li {
  list-style: none;
  display: inline-block;
  
  margin: 2rem 3rem;
  padding: 0px;
}

.link {
  text-decoration: none;
  color: white;
}

.link:hover {
  text-decoration: underline;
}

.Pokemon_Overview ul { 
  padding-left: 1em;

}

h5 {
  margin-top: 0;
}

.Pokemon_Overview img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

/*Leaderboard*/
.leaderboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}

.leaderboard-container {
  background-color: rgb(47, 39, 168);
  margin-top: 20px;
  height: 500px;
  width: auto;
  border-radius: 10px;
  padding: 20px;

}

.leaderboard-container img {
  height: 80px;
  padding: 25px;
  margin-bottom: 25px;
}
.leaderboard-user-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid white;
}

.leaderboard-user-card-wrapper {
  display: flex;
  flex-direction: column;
 
  
}

.leaderboard-user-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width:550px;
  margin-top: 10px;
  height: 70px;
  background-color: rgb(63, 76, 101);
  border-radius: 10px;
  padding: 0 20px;
  
}


.result {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 150px;
  
  
  
  
}
